<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Персональный сайт{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <header>
        <div class="logo"><span>Луцай</span> Иван Григорьевич</div>
        <nav>
            <a href="{% url 'index' %}">Главная</a>
            <a href="{% url 'gallery' %}">Галерея скриншотов</a>
            <a href="/admin/" target="_blank">Панель управления</a>
        </nav>
    </header>

    <div class="container">
        {% block content %}{% endblock %}
    </div>

    <footer>
        <p>Дипломный проект | Автор: Луцай Иван Григорьевич &copy; </p>
    </footer>
</body>
</html>
